<div class="container">
  <h1>Welcome to Javascript Racer</h1>
  <form action="/games" method="POST">
  <label>Player 1: </label>
  		<input type="text" name="player1[name]" placeholder="Player 1's name">
  		<br/><br/>
  <label>Player 2: </label>
  		<input type="text" name="player2[name]" placeholder="Player 2's name">
  		<br/><br/>
  <input type="submit" value="Start new game">
  </form>
</div>